# ArgoCD Application for PRODUCTION ConfigMaps
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: techtorque-configmaps-prod
  namespace: argocd
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: default
  source:
    repoURL: https://github.com/TechTorque-2025/TechTorque-2025.git  # UPDATE THIS
    targetRevision: main
    path: k8s-config/k8s/configmaps
  destination:
    server: https://kubernetes.default.svc
    namespace: default
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
