# Kubernetes/services/gateway-deployment.yaml

apiVersion: apps/v1
kind: Deployment
metadata:
  name: api-gateway-deployment
spec:
  replicas: 1
  selector:
    matchLabels:
      app: api-gateway
  template:
    metadata:
      labels:
        app: api-gateway
    spec:
      containers:
      - name: api-gateway-container
        # This tag will be auto-updated by your deploy pipeline
        image: ghcr.io/techtorque-2025/api_gateway:latest 
        ports:
        - containerPort: 8080 # The port your Go app listens on
        
        env:
          # --- We will add the JWT_SECRET here later ---
          # - name: "JWT_SECRET" 
          #   valueFrom:
          #     secretKeyRef:
          #       name: jwt-secret
          #       key: JWT_SECRET

          # These environment variables will override config.yaml
          # This tells your Go app to use the K8s service names
          - name: "AUTH_SERVICE_URL"
            value: "http://auth-service"
          - name: "VEHICLES_SERVICE_URL"
            value: "http://vehicle-service"
          - name: "APPOINTMENTS_SERVICE_URL"
            value: "http://appointment-service"
          - name: "PROJECT_SERVICE_URL"
            value: "http://project-service"
          - name: "TIME_LOGS_SERVICE_URL"
            value: "http://time-logging-service"
          - name: "PAYMENT_SERVICE_URL"
            value: "http://payment-service"
          - name: "ADMIN_SERVICE_URL"
            value: "http://admin-service"
          - name: "NOTIFICATIONS_SERVICE_URL"
            value: "http://notification-service"
            
---
# This is the "Front Door" - it exposes your gateway to the internet

apiVersion: v1
kind: Service
metadata:
  name: api-gateway-service
spec:
  # This tells K3s to grab port 80 on your VM
  type: LoadBalancer
  selector:
    app: api-gateway # Connects to your gateway pods
  ports:
  - name: http
    port: 80 # Public internet port
    targetPort: 8080 # The port your Go container listens on